.wrapper {
    width: 60%;
    margin-left: 20%;
    background-color: white;
    padding: 30px;
    min-height: 60%;
}

body {
    font-family: sans-serif;
    position: relative;
    background-image: url(./resources/108.png);
}

#user_name {
    color: orangered
}

.name {
    margin-bottom: 25px
}

#search {
    width: 400px;
    margin: 0px;
    padding: 0px;
    display: flow;
    float: left;
}

#login {
    float: right
}

#menu {
    margin-bottom: 30px;

}

#cross {
    text-decoration: none;
    color: darkred;
}

A {
    color: indianred;
    alink: #ff6a1b;
    vlink: indianred;
    text-decoration: none;
}