.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    min-height: 60%;
}

body {
    font-family: sans-serif;
    background-image: url(../108.png);
    position: relative;
}

header {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}

footer {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}

/*Content table*/
.wrapper .content tr {
    margin-bottom: 20px;
    display: block;
}

#user_name {
    color: orangered
}

.name {
    margin-bottom: 25px
}

#search {
    width: 400px;
    margin: 0px;
    padding: 0px;
    display: flow;
    float: left;
}

#menu {
    margin-bottom: 30px;

}

#cross {
    text-decoration: none;
    color: darkred;
}

A {
    color: indianred;
    alink: #ff6a1b;
    vlink: indianred;
    text-decoration: none;
}

.has-error {
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    color: indianred;
}

.goodMessage {
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    color: green;
}



.genre {
    padding-left: 20px;
}

.wrapper h3 {
    text-align: center;
}

.filmImg {
    display: inline-block;
    width: 250px
}

.description {
    padding-left: 20px;
    padding-bottom: 40px;
    width: 450px;
}




