.wrapper {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    min-height: 60%;
}

body {
    font-family: sans-serif;
    background-image: url(../108.png);
    position: relative;
}

header {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}

footer {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}

/*Content table*/
.wrapper .content tr {
    margin-bottom: 20px;
    display: block;
}

#user_name {
    color: orangered
}

.name {
    margin-bottom: 25px
}

#search {
    width: 400px;
    margin: 0px;
    padding: 0px;
    display: flow;
    float: left;
}

#menu {
    margin-bottom: 30px;

}

#cross {
    text-decoration: none;
    color: darkred;
}

A {
    color: indianred;
    alink: #ff6a1b;
    vlink: indianred;
    text-decoration: none;
}

.has-error {
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    color: indianred;
}

.goodMessage {
    font-size: 12px;
    font-family: Verdana, Tahoma, sans-serif;
    color: green;
}

.genre {
    padding-left: 20px;
    margin: 0px 0px 5px;
}

.wrapper h3 {
    text-align: center;
}

.filmImg {
    display: inline-block;
    width: 250px
}

.content .description {
    padding: 20px;
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 3;*/
    /*-webkit-box-orient: vertical;*/
    height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content img {
    padding-top: 30px;
}

.filmPage img {
    width: 800px;
}

.filmPage h1 {
    text-align: center;
}

.filmPage .description {
    padding: 20px;
}

.filmPage h2 {
    padding: 0 0 0 250px;
    font-size: 40px;
    /*width: 60px;*/
}

.filmPage .info {
    padding: 50px 50px 0;
}

.filmPage .select {
    padding: 0 0 0 50px;
}

.pagination {
    display: block;
    text-align: center;
}

.pagination li {
    display: inline-block;
    list-style-type: none;
}

.pagination li a{
    display: block;
    padding: 5px 10px;
}

.paginationFooter {
    position: relative;
}

.pagination .currentPage {
    border: 2px solid #77a8d0;
}

.pagination li:hover {
    background-color: #edf5f9;
}





